@import '../../../styles/shared.scss';
@import '../../../styles/mixins.scss';

.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primaryBackground;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 3;

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-bottom: 18px;


        .logo {
            display: flex;
            align-items: center;

            .infoshare-logo {
                background-image: url($infoShareLogo);
                background-repeat: no-repeat;
                background-size: cover;
                height: $infoShareLogoHeight;
                width: $infoShareLogoWidth;
                margin-right: 10px;
                cursor: pointer;

            }

            .gdansk-logo {
                display: none;
            }
        }

        .menu {

            display: flex;
            align-items: center;

            .menu-btn-register {
                display: none;

            }

            .menu-btn-login {
                display: none;
            }



            .menu-hamburger-icon {
                width: 40px;
                height: 40px;
                background-image: url(../../assets/img/hamburger.png);
                text-align: center;
                z-index: 5;
                position: relative;
                cursor: pointer;
                transition: 0.3s transform linear;
                box-sizing: border-box;
            }
        }
    }

    .menu-alt {
        display: none;
    }

    .menu-normal {
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: $mobileMenuColor;


        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        list-style-type: none;
        padding-bottom: 18px;

        .dropdown {
            position: relative;
            width: 100vw;
            background-color: $mobileMenuColor;
            
        }

        .click-effect {
            color: white;
        }

        .clickme {
            cursor: pointer;
            height: 20px;
            width: 20px;
            background-image: url(../../assets/img/plus.png);
            margin-right: 80px;
        }

        .clickme-close {
            cursor: pointer;
            height: 20px;
            width: 20px;
            background-image: url(../../assets/img/minus.png);
            margin-right: 80px;
        }

        .drop-wrapper {
            display: flex;
            justify-content: space-between;

            .dropbtn {
                color:white;

                &:hover {
                    color: $primaryButtonColor;
                }
            }

        }

        .dropdown:hover .dropbtn-content {
           /* display: block; */
        }

        a {
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            color: #000;

            position: relative;
            display: inline-block;

            &:hover {
                color: $primaryButtonColor;
            }
        }

        .dropbtn-content {
            display: block;
            background-color: $mobileMenuColor;
            min-width: 50px;
            margin-top: 4px;
            padding-left: 0;
            padding-right: 0;
            box-shadow: 0 21px 15px rgba(0, 0, 0, 0.082);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            min-width: 200px;
            margin-bottom: 0;



            li {

                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                padding-bottom: 0px;
                padding-top: 0px;

                &:nth-of-type(1) {
                    padding-top: 0px;
                }

                &:last-of-type {
                    padding-bottom: 8px;
                }

            }

            .drop-text {
                font-size: 16px;
                margin-top: 2px;
                margin-bottom: 2px;
                color: white;

                &:hover {
                    color: $primaryButtonColor;
                }
            }
        }
        .dropik {
            display: none;
        }
    }



}

/* * * * * * BREAKPOINT 768 px * * * * * */

@media only screen and (min-width: 768px) {


    .header-nav {
        .wrapper {

            .top-header {
                .logo {
                    .gdansk-logo {
                        display: initial;
                        background-image: url($gdanskLogo);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: $gdanskLogoHeight;
                        width: $gdanskLogoWidth;
                        box-sizing: border-box;
                        margin-left: 15px;
                        cursor: pointer;

                    }
                }
            }




        }
    }
}

/* * * * * * BREAKPOINT 990 px * * * * * */

@media only screen and (min-width: 990px) {


    .header-nav {
        .wrapper {
            
            .menu {
                .menu-btn-register {
                    @include primaryButton;
                    padding: 0 15px;
                    font-weight: bold;
                    margin-right: 6px;
                }

                .menu-btn-login {
                    @include primaryButton;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-right: 7px;
                }

            }
        }
    }


}


/* * * * * * BREAKPOINT 1200 px * * * * * */

@media only screen and (min-width: 1200px) {

    .header-nav {
        .wrapper {


            .menu-normal {
                display: none;
            }
        
            .menu-alt {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;
                padding-bottom: 18px;

                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                list-style-type: none;
                padding-bottom: 18px;

                position: relative;
                height: auto;
                width: auto;

                .drop-text {
                    &:hover {
                        color:$primaryButtonColor;
                    }
                }

                .dropdown {
                    position: relative;
                    width: auto;
                }

                .dropdown:hover .dropbtn-content {
                    display: block;
                }

                a {
                    text-decoration: none;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #000;

                    position: relative;
                    display: inline-block;

                    &:hover {
                        color: $primaryButtonColor;
                    }
                }

                .dropik {
                    display: none;
                }

                .clickme {
                    display: none;
                    
                }



                .dropbtn-content {
                    display: none;
                    position: absolute;
                    top: 15px;
                    left: -15px;
                    background-color: $primaryBackground;
                    min-width: 50px;
                    margin-top: 4px;
                    padding-left: 0;
                    padding-right: 0;
                    box-shadow: 0 21px 15px rgba(0, 0, 0, 0.082);
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    min-width: 200px;

                    li {

                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        padding-bottom: 0px;
                        padding-top: 0px;

                        &:nth-of-type(1) {
                            padding-top: 15px;
                        }

                        &:last-of-type {
                            padding-bottom: 8px;
                        }

                    }

                    .drop-text {
                        font-size: 16px;
                        margin-top: 2px;
                        margin-bottom: 2px;
                        color:black;
                        &:hover {
                            color: $primaryButtonColor;
                        }
                    }
                }


            }
            .menu {
                .menu-hamburger-icon {
                    display: none;
                }
            }
        }
    }

}