@import '../../../../../styles//shared.scss';
@import '../../../../../styles//mixins.scss';

.videoSpeaker-container {

    display: flex;
    width: 100%;

    .videoSpeaker-video {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;

        .videoSpeaker-video-icon {

            height: 100px;
            width: 100px;
        }
    }

    .videoSpeaker-text-primary {
        @include videoSpeaker;
        background-color: $primaryVideoSpeakerColor;    /* extra*/
        color: white; /* extra */

    }

    .videoSpeaker-text-secondary {
        @include videoSpeaker;
        background-color: $secondaryVideoSpeakerColor;
        color: black;
    }



}




/* * * * * * BREAKPOINT 768 px * * * * * */

@media only screen and (min-width: 768px) {

    .videoSpeaker-container {

        .videoSpeaker-text-primary {

            padding: 30px; 

            .videoSpeaker-text-infoshare {
                font-size: 20px; 
            }
        
            .videoSpeaker-text-container {
        
                .videoSpeaker-text-name {
                    font-size: 28px; 
                }
        
                .videoSpeaker-text-title {
                    font-size: 18px; 
                }
        
            }

        }


        .videoSpeaker-text-secondary {

            padding: 30px; 

            .videoSpeaker-text-infoshare {
                font-size: 20px; 
            }
        
            .videoSpeaker-text-container {
        
                .videoSpeaker-text-name {
                    font-size: 28px; 
                }
        
                .videoSpeaker-text-title {
                    font-size: 18px; 
                }
        
            }

        }
        
    }


}


/* * * * * * BREAKPOINT 1200 px * * * * * */

@media only screen and (min-width: 1200px) {

    .videoSpeaker-container {

        .videoSpeaker-text-primary {


            .videoSpeaker-text-infoshare {
                font-size: 24px; 
            }
        
            .videoSpeaker-text-container {
        
                .videoSpeaker-text-name {
                    font-size: 32px; 
                }
        
                .videoSpeaker-text-title {
                    font-size: 22px; 
                }
        
            }

        }


        .videoSpeaker-text-secondary {

            .videoSpeaker-text-infoshare {
                font-size: 24px; 
            }
        
            .videoSpeaker-text-container {
        
                .videoSpeaker-text-name {
                    font-size: 32px; 
                }
        
                .videoSpeaker-text-title {
                    font-size: 22px; 
                }
        
            }

        }
        
    }



}