@import '../../../../styles/shared.scss';
@import '../../../../styles/mixins.scss';



.hero {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0;

    .hero-video {
        min-height: 560px;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;



        .video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
        }
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;

        .text-logo {
            background-image: url($infoShareLogoWhite);
            margin-bottom: 30px;
        }

        .text-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;

            .text-info-heading {
                font-size: 18px;
                font-weight: lighter;
                text-transform: uppercase;
                margin-bottom: 10px;
                text-align: center;
            }

            .bold {
                font-weight: bold;

            }

            .secondary {
                font-weight: 100;
                text-transform: initial;
                margin-bottom: 15px;
            }

            .text-btn-ticket {
                @include primaryButtonBig;
            }
        }
    }
}

/* * * * * * BREAKPOINT 768 px * * * * * */

@media only screen and (min-width: 768px) {


}

/* * * * * * BREAKPOINT 990 px * * * * * */

@media only screen and (min-width: 990px) {




}


/* * * * * * BREAKPOINT 1200 px * * * * * */

@media only screen and (min-width: 1200px) {


    .hero {
        .hero-text {
            .text-info{
                .text-info-heading {
                    font-size: 30px;
                }
                .secondary {
                    font-size: 48px;
                }
            }
        }
    }

}