@import '../../../../styles/mixins.scss';

.videos2019-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin: 0 auto;

    .videos2019-heading {
        font-size: 28px;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 40px;

        .videos2019-heading-span {
            font-weight: lighter;
        }
    }

    .videos2019-videoSpeaker-container {
        width: 100%;
    }

    .btn-more-vids {
            @include secondaryButton;
            font-weight:bold;
            margin-top: 40px;
            margin-bottom:50px;
            height: 50px;
            font-size: 20px;

    }
}


/* * * * * * BREAKPOINT 768 px * * * * * */

@media only screen and (min-width: 768px) {


}


/* * * * * * BREAKPOINT 990 px * * * * * */

@media only screen and (min-width: 990px) {

    .videos2019-wrapper {

        .videos2019-videoSpeaker-container {

            width: 66%;

        }
    }


}

