@import './shared.scss';

@mixin primaryButton {
    background-color: yellow;
    display: inline-block;
    height: 40px;
    max-width: 100%;
    line-height: 38px;
    padding: 0 40px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    background-color: $primaryButtonColor;
    border: 1px solid  $primaryButtonColor;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    outline: none;
    text-decoration: none;
    transition: .6s;

&:hover {
    background-color: #fff;
    border: 1px solid $primaryButtonColor;
    color: $primaryButtonColor;
}

}
