$headerNavHeight: 60px;
$primaryBackground: #fff;
$afterMovieBackground: #013838;

$infoShareLogo: 'https://infoshare.pl/system/themes/infoshare/img/logo-infoshare2.svg';
$infoShareLogoWhite: 'https://infoshare.pl/system/themes/infoshare/img/logo-infoshare2-white.png';
$infoShareLogoWidth:  125px;
$infoShareLogoHeight: 40px;

$gdanskLogo: 'https://infoshare.pl/system/themes/infoshare/img/logo-gdansk.png';
$gdanskLogoWidth:  54px;
$gdanskLogoHeight: 40px;

$primaryButtonColor: #FE4B53;
$secondaryButtonColor: #21DFDF;

$primaryVideoSpeakerColor: #FE4041;
$secondaryVideoSpeakerColor: #15DCDC;


